/**
 * 其它
 */

/* 垂直居中 */
.flex-middle {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 多余文本 ... */
.text-ellipsis {
  overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* 垂直居中 */
.flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
